{% extends "../base.html" %}
{% load static %}
{% load tailwind_filters %}

{% block start %}

{% if sent %}

    <h1 class="text-green-950 bg-green-400 p-2 rounded-sm">E-Mail erfolgreich gesendet</h1>

    <p class="text-green-950 mt-4">"{{ post.title }}" wurde erfolgreich gesendet an 
        {{ form.cleaned_data.to }} </p>
    
{% else %}
     <h1 class="ml-72">Sende "{{ post.title }}" via E-Mail</h1>
     <div class="w-1/3 h-1/3 ml-72">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
    
            <input type="submit" value="Sende E-Mail" class="bg-blue-600 text-white rounded-md p-2 mt-1 ">
         </form>
     </div>
  

{% endif %}


{% endblock start %}